body {
    background-size: cover;
    background-color: rgb(255, 255, 255);
  }

  #header {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    background-image: url('../Images/flores.jpg');
  }
  #header h1{
    background-color: white;
    box-sizing: border-box;
    padding: 10px;


  }
  #content {
    text-align: center;
    padding: 30px;
    margin-left: 10cm;
    margin-right: 10cm;
    font-size: 20px;
    color: black;
  }

  #separator {
    text-align: center;
    padding: 30px;
  }
  .button {
    font-size: 24px; /* Ajusta el tamaño de la fuente del botón */
    padding: 40px 40px; /* Ajusta el relleno (padding) del botón */
    background-color: rgb(141, 170, 150);
    color: black;
    font-family: 'Times New Roman', Times, serif;
}


  #footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(42, 45, 43);
    color: white;
  }

  .green-section {
    background-color: rgb(169, 202, 181);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 10cm;
    margin-right: 10cm;
  }

